data/
drafts/
.ipnb_checkpoints/
desktop.ini
.ipynb_checkpoints/Yearly Files' Hierarchy Parser_TEST-checkpoint.ipynb
.ipynb_checkpoints/Yearly Files' Hierarchy Parser_TEST2 -Copy1-checkpoint.ipynb
.ipynb_checkpoints/Yearly Files' Hierarchy Parser-checkpoint.ipynb
